name: MongoDB
tabs:
- name: main
  label: Main Settings
  sections:
  - name: section_one
    contents: 
    - type: heading
      label: Admin Settings
    - type: base-64
      variable: username
      required: true
      label: Username
      settings:
        default: cG9ydGVy
    - type: base-64-password
      variable: password
      label: Password (default = iluvmongodb)
      required: true
      settings:
        default: aWx1dm1vbmdvZGI=
  - name: network
    contents:
    - type: heading
      label: Network Settings
    - type: base-64
      variable: kubernetesiohost
      required: true
      label: Kubernetes node name
      settings:
        default: mongo-node