name: MongoDB
tabs:
- name: main
  label: Config
  sections:
  - name: section_one
    contents: 
    - type: heading
      label: Admin Settings
    - type: base-64
      variable: auth.username
      required: true
      label: Username
      settings:
        default: cG9ydGVy
    - type: base-64-password
      variable: auth.password
      label: Password (default = iluvmongodb)
      required: true
      settings:
        default: aWx1dm1vbmdvZGI=
  - name: resource
    contents:
    - type: heading
      label: Resource Allocation
    - type: number-input
      variable: resources.storage
      required: true
      label: Storage (Gi)
      settings:
        default: 1
        unit: Gi