name: MongoDB
tabs:
- name: main
  label: Main Settings
  sections:
  - name: section_one
    contents: 
    - type: heading
      label: Admin Settings
    - type: base-64
      variable: username
      label: Username
      settings:
        default: cG9ydGVy
    - type: subtitle
      label: "Default password: iluvmongodb"
    - type: base-64-password
      variable: password
      label: Password
      settings:
        default: aWx1dm1vbmdvZGI=
  - name: network
    contents:
    - type: heading
      label: Network Settings
    - type: string-input
      variable: kubernetesiohost
      label: Kubernetes node name
      settings:
        default: mongo-node